.cb-lightbox{
	//transition-timing-function: ease;
	//transition-property: opacity;
	backface-visibility: visible;
	transform: translateZ(0px);
	position: fixed;
	font: 14px/1.2 arial;
	left: 0px;
	top: 0px;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	user-select: none;
}

.cb-lightbox-overlay {
	background: rgba(0,0,0,0.85);
	transition-timing-function: ease;
	transition-duration: inherit;
	transition-property: opacity;
	width:100%;
	height:100%;
	position: absolute;
	opacity: 0;
}

.cb-lightbox-content{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    //z-index: 1;
}

.cb-lightbox-close{
	width: 25px;
	height: 25px;
  	margin: 13px 13px 7px 7px;
	position: fixed;
	top: 0px;
 	right: 0px;
	float: right;
	overflow: hidden;
	cursor: pointer;
	//opacity: 0.65;
	z-index: 200;
    //transition: opacity 250ms ease;

    &:after{
    	content: "";
    	width: 100%;
    	height: 3px;
    	background: #fff;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%) rotate(-45deg);
    }

	&:before{
    	content: "";
    	width: 100%;
    	height: 3px;
    	background: #fff;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover{
		opacity: 1;
	}
}

.cb-lightbox-slides{
	position: absolute;
	width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
}

.cb-lightbox-slide{
	transform: translate3d(0, 0, 0);
	transition-property: transform, opacity;
	transition-timing-function: ease-in-out;
	//transform-origin: top left;
	box-sizing: border-box;
    height: 100%;
	width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
	position: absolute;
	backface-visibility: hidden;
	user-select: none;
	z-index: 10001;

	&.cb-lightbox-image-hide{
		.cb-lightbox-image{
			opacity: 0.01;
		}
	}
}

.cb-lightbox-slide-image{
	transition-property: transform;
	//transition-timing-function: ease;
	transform-origin: top left;
	box-sizing: border-box;
	background-color: #000; //optimize gpu rendering
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
    height: auto;

    .cb-lightbox-is-zoomed &{
    	backface-visibility: hidden; //optimize gpu rendering on dragging, not on sliding for chrome performance
    }
}

.cb-lightbox-image{
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.cb-lightbox-image-placeholder{
	z-index: 2;
}

.cb-lightbox-image-placeholder,
.cb-lightbox-image{
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.cb-lightbox-is-loading{
	.cb-lightbox-loading{
		display: block;
	}
}

.cb-lightbox-arrow{
	position: fixed;
	top: 40px;
	width: 60px;
	height: calc(100vh - 80px);
	cursor: pointer;
	//opacity: 1;
    z-index: 10002;
    //transition: opacity 250ms ease;

    span{
	    border: solid #fff;
	    border-width: 0 3px 3px 0;
	    display: inline-block;
	    padding: 3px;
		display: block;
	    height: 10px;
	    width: 10px;
	    margin-top: -15px;
	    position: absolute;
	    top: 50%;

	    transition: all 250ms ease;
	}

	&:hover{
		opacity: 1.0;
	}
}

.cb-lightbox-arrow-prev{
	left: 0px;

	span{
		left: 25px;
		transform: rotate(135deg);
	}

	&:hover{
		span{
	    	margin-left: -5px;
		}
	}
}

.cb-lightbox-arrow-next{
	right: 0px;

	span{
	    right: 25px;
	    transform: rotate(-45deg);
	}

	&:hover{
		span{
	    	margin-right: -5px;
	    }
	}
}

#cb-loading-image{
	margin-top:15px;
	position:relative;
	left:70px;
}

.cb-lightbox-info{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10002;

	.cb-lightbox-slide &{
		transform: translateY(100%);
	}

	.cb-lightbox-caption{
		transform: translateX(-50%);
		color: #fff;
		padding: 15px 90px;
		text-align: center;
		min-width: 300px;
		position: relative;
	    left: 50%;
	}
}

.cb-lightbox-slide-with-caption{
	//overflow: visible;

	.cb-lightbox-caption{
		color: #fff;
		transform: translateY(100%);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-top: 10px;
	}
}

.cb-lightbox-caption-hide{
	position: fixed;
	visibility: hidden;
}

.cb-lightbox-counter{
	color: #fff;
	padding: 15px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cb-lightbox-lock{
	overflow: visible !important;

	body{
		overflow: hidden;
		height: 100%;
	}
}

.cb-lightbox-is-zoomed{
	.cb-lightbox-draggable{
		cursor: grab;
	    cursor: -moz-grab;
	    cursor: -webkit-grab;
	}

	&.cb-lightbox-is-grabbing{
		.cb-lightbox-draggable{
			cursor: grabbing;
		    cursor: -moz-grabbing;
		    cursor: -webkit-grabbing;
		}
	}
}

.dragarea{
	position: fixed;
	width: 100%;
	height: 100%;
}

.cb-lightbox-draggable{
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.cb-lightbox-slide{
	& > .cb-lightbox-caption{
		display: none;

		.cb-lightbox-is-open & {
			display: block;
		}
	}
}

.cb-lightbox-is-open{
	.cb-lightbox-arrow,
	.cb-lightbox-close{
		transition: opacity 250ms ease;

		&:hover{
			opacity: 0.6;
		}
	}
}

.cb-lightbox-error,
.cb-lightbox-arrow,
.cb-lightbox-close,
.cb-lightbox-info{
	transition-timing-function: ease;
	transition-property: visibility, opacity;
	transition-duration: inherit;
	visibility: hidden;
	opacity: 0;
}

.cb-lightbox-show-info{
	.cb-lightbox-info{
		visibility: visible;
		opacity: 1;
	}
}

.cb-lightbox-error-show,
.cb-lightbox-show-buttons{
	.cb-lightbox-close,
	.cb-lightbox-arrow{
		visibility: visible;
		opacity: 1;
	}
}


.cb-lightbox-is-opening,
.cb-lightbox-is-open{
	.cb-lightbox-overlay{
		opacity: 1;
	}

	.cb-lightbox-error{
		opacity: 1;
		visibility: visible;
	}
}

.cb-lightbox-is-zoomed{
	.cb-lightbox-arrow,
	.cb-lightbox-info,
	.cb-lightbox-caption{
		display: none;
	}
}

//.cb-lightbox-dragging-active,
.cb-lightbox-iframe{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.cb-lightbox-error{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	padding: 50px;
}

.cb-lightbox-slide-previews,
.cb-lightbox-slide-next{
	transform: translateY(-100%);
}

.cb-lightbox-loadingbar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	z-index: 1;

	span{
		position: absolute;
		left: 0;
		height: 100%;
		background: #22f50b;
	}
}

/*--Start Animation--*/
.cb-lightbox-loading{
	pointer-events: none;
	position: relative;
	top: 100px;
	width: 50px;
	height: 50px;
	margin: 0px auto;
	display: none;
	text-align: center;
	z-index: 98;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 10002;
}

.cb-lightbox-loading-animation{
	display: inline-block;
  	width: 100%;
  	height: 100%;
  	position: relative;

  	&:before{
  		content: "";
		box-sizing: border-box;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 5px solid #fff;
		border-color: #fff transparent #fff transparent;
		animation: dual-ring .8s linear infinite;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
  	}

  	&:after {
		content: "";
		border-radius: 50%;
		border: 5px solid rgba(128, 128, 128, 0.4);
		width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    box-sizing: border-box;
	}
}

@keyframes dual-ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


@media screen and (max-width: 768px) {
	.cb-lightbox-lock{
		padding-right: 0;
	}
}
